.content {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #e5e9f2;
  overflow: hidden;
  text-align: center;
}
.main {
  width: 800px;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}